<filepath="hovercraft.png" id="hovercraftTex" colfmt=5 />
<filepath="terrain.png" id="terrainTex" colfmt=14 mipmap=yes minlod=0 maxlod=3 />
<filepath="water.png" id="waterTex" colfmt=14 mipmap=yes minlod=0 maxlod=3 />
<filepath="ray.png" id="rayTex" colfmt=5 />
<filepath="ring.png" id="ringTex" colfmt=5 />
<filepath="ubuntufont.png" id="ubuntuFontTex" colfmt=6 mipmap=yes minlod=0 maxlod=4 />